#Mycanvas{
    height: 100%;
}
.logininput3{
    margin: 10px 0px 10px 0px;
    text-align: center;
}
.logintitle{
    text-align: center;
    color: #464646;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}
body {
    background-color: #f7fafc;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column{
    height: 450px;
    min-width: 100px;
}
#login{
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    background-color: white;
    padding: 0 30px 0 30px!important;
}
#picture{
    border-top-right-radius: 5px;
    border-bottom-rigth-radius: 5px;
    background-color: rgba(99, 156, 185, 0.7);
    background-image:url('/SIS/img/picture.png');
    background-size: cover;
}
#login,#picture{
    box-shadow: 2px 2px 5px #888888;

}
.ui.center.aligned.icon.header{
    color: #566374;
}
.blue{
    background-color: #00a0f0!important;
}